a {
  text-decoration: none;
}
body{
  background-color: rgb(251, 205, 205);
}


@media  print {
  body * {
    visibility: hidden;
  }
  .print,.print * {
    visibility: visible;
  }
  .print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}