.incontainer{
    border: 5px solid rgb(245, 136, 158);
    border-radius: 8px;
    background-image: linear-gradient(to right,#FCABAB,#fefcfb);
}
.button{
    background-color: rgb(31, 30, 30);
    color: rgb(57, 121, 210);
}





