body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/823/492/849/3-316-16-9-aspect-ratio-s-sfw-wallpaper-preview.jpg");
    
    
}


.box{
    
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background-color: aqua;
    width: 600px;
    background-image: url("https://cdn.wallpapersafari.com/67/29/ztu65X.jpg");
    background-size: cover;
    box-shadow: 3px 5px 8px;
  margin-top: 20vh;
}
.h{
    color: aliceblue
}
.fields{
    color: aliceblue;
}